<section
    class="w-full bg-[#F4F7F8] py-24 min-h-[80vh] flex flex-col items-center justify-center gap-8 font-poppins px-4">

    <div class="flex flex-col md:flex-row items-center justify-center gap-6 md:gap-8">
        <img src="/foto_pessoal.JPEG" alt="Otávio"
            class="animate-fade-up w-48 h-48 md:w-56 md:h-56 rounded-full object-cover object-bottom shadow-lg border-4 border-white">

        <div class="animate-fade-up animation-delay-200 text-center md:text-left text-gray-800">
            <h1 class="text-4xl font-semibold tracking-wide">Otávio Hiratsuka</h1>
            <p class="text-[17px] text-gray-500 mt-1">Estudante de Engenharia da Computação</p>
        </div>
    </div>

    <div class="animate-fade-up animation-delay-200 text-center text-gray-800 max-w-2xl">
        <p class="text-[15px] font-poppins text-gray-500 leading-relaxed">
            Bem-vindo ao meu portfólio! Meu nome é Otávio, tenho 23 anos e atualmente integro a equipe da SEMAC
            (Prefeitura de Divinópolis) como estagiário e também sou aluno do CEFET-MG. Tenho um forte interesse na
            criação de sistemas web e versatilidade para construir soluções no back-end.
        </p>
    </div>

</section>